# Pandas Exercises
https://www.w3resource.com/python-exercises/pandas/index-data-series.php

## Exercise 10

In [17]:
import pandas as pd
import numpy as np

In [16]:
series1 = pd.Series([["Red", "Green", "White"], ["Red", "Black"], ["Yellow"]])
print(series1)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object

In [6]:
print(series1[0])

['Red', 'Green', 'White']

In [10]:
series2 = pd.Series(series1[0]+series1[1]+series1[2])
print(series2)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [13]:
series3=series1.apply(pd.Series).stack().reset_index(drop=True)
print(series3)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

## Exercise 11

series4 = pd.Series(['100', '200', 'python', '300.12', '400'])
print(series)

In [37]:
series5 = series4.sort_values()
print(series5)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

## Exercise 12

In [39]:
series6 = pd.Series(['500', 'php'])
print(series6)

0    500
1    php
dtype: object

In [41]:
series7 = series5.append(series6)
print(series7)

0       100
1       200
3    300.12
4       400
2    python
0       500
1       php
dtype: object

## Exercise 13

In [63]:
series8 = pd.Series(np.arange(11))
print(series8)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int32

In [64]:
series9 = series8[:6]
print(series9)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

In [69]:
series9 = series8[series8 < 6]
print(series9)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

## Exercise 14

In [76]:
series10 = pd.Series(np.arange(1,6), index=['A', 'B', 'C', 'D', 'E'])
print(series10)

A    1
B    2
C    3
D    4
E    5
dtype: int32

In [77]:
series10.reindex(['B', 'A', 'C', 'D', 'E'])

B    2
A    1
C    3
D    4
E    5
dtype: int32

## Exercise 15

In [78]:
series11 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 3], index=range(11))
print(series11)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64

In [80]:
stdev = series11.std()
print(stdev)

2.522624895547565

In [83]:
mean = series11.mean()
print(mean)

4.818181818181818